div#depose {
  height:80px;
  font-size:18px;
  line-height: 80px;
  color:#999;    
  text-align: center;
  padding:10px;
  margin:10px;
  border:2px dashed #999;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}    
div#depose.onDropZone {
  color:#000;
  background-color:#EDEDED;
}    
    
div.bloc {
    padding:5px;
    border:1px solid #aaa;
    margin:10px;
}
div#preview {
  display:none;
}
div.fichier {
  padding:5px;
  background: #EDEDED;    
  margin-top:1px;
}
div.fichier img {
  max-height: 80px;
  max-width: 80px;
  margin-right:10px;
  vertical-align: middle;
}