/**
     * Fichier style.css - Correcteur de formulaire pour l'ENT ECLAT (KOSMOS)
     * Réalisé par Y. VEILLET
     * Développement Initial par Fabien CABANEL
     * Architecture MVC inspirée du LIVE CODING : https://nouvelle-techno.fr/actualites/live-coding-introduction-au-mvc-en-php
*/

@media print
{
    /* les styles d'impression commencent ici */
    @page {
        margin: 1cm;
		size: 420cm 297cm landscape;
	}
	
	header {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
	}
	
	body {
		font-size: 10px;
		height: auto ;
	}
	
	.no-print, .no-print *
    {
        display: none !important;
    }
}

html, body 
{
	height: 100%;
}

h1
{
	text-align:center;
	font-weight:bold;
	font-size:25px;
	margin:10px;
}

p
{
	text-align:center;
	font-weight:bold;
	font-size:16px;
	margin:5px;
}

.wrapper 
{
	min-height:50%;
	height: auto ;
	margin: 0 auto 10px;
}

.footer 
{
	height: 20px;
	text-align:center;
}

.hr-load
{
	min-width : 800px;
	width: 55%;
}

.table-load
{
	margin-left: auto;
	margin-right: auto;
	min-width : 720px;
	width: 55%;
	border: 1px solid;
	border-radius: 10px;
}

.hr-parameter
{
	min-width : 800px;
	width: 92%;
}


.table-parameter
{
	margin-left: auto;
	margin-right: auto;
	min-width : 720px;
	width:90%;
	border: 2px solid black;
	border-radius: 10px;
}

.table-correct
{
	width:98%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-radius: 10px;
}

.td-white
{
	background-color: white;
	text-align: center;
}

.td-red
{
	background-color: red;
	text-align: center;
}

.td-grey
{
	background-color: #DCDCDC;
	text-align: center;
	font-weight:bold
}

.td-orange
{
	background-color: orange;
	text-align: center;
	font-weight:bold;
}

.td-green
{
	background-color: green;
	text-align: center;
	color:white;
}

.td-springgreen
{
	background-color: springgreen;
	text-align: center;
	font-weight:bold
}


.entete
{
	text-align: center;
	font-weight:bold;
	font-size:18px;
	background-color: #DCDCDC;
}

.width-25
{
	width:25%;
}

.center
{
	text-align: center;
}

.left
{
	text-align:left;	
}

.bold
{
	font-weight:bold;
}

.submit
{
	height:40px;
	width:150px;
	margin:20px;
	
}

.CircleGreen
{
	display:inline-block; position:relative; padding:0px; 
	background-color:green; border-radius:50%; text-align:center; width:30px; height:30px; line-height:30px; font-size:18px!important; color:white;
}

.CircleOrange
{
	display:inline-block; position:relative; padding:0px; 
	background-color:orange; border-radius:50%; text-align:center; width:30px; height:30px; line-height:30px; font-size:18px!important; color:black;font-weight:bold;
}

.CircleRed
{
	display:inline-block; position:relative; padding:0px; 
	background-color:red; border-radius:50%; text-align:center; width:30px; height:30px; line-height:30px; font-size:18px!important; color:black;font-weight:bold;
}


	